<header>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <%= link_to 'Members Only', '#', class:'navbar-brand pl-3' %>
    <div class="navbar navbar-dark">
      <%= link_to 'Log Out', logout_path, class: 'nav-item nav-link' %>
    </div>
  </nav>
</header>
